:root {
    --color1: #829e87ff;
    --color2: #577d74ff;
    --color3: #3c5057ff;
    --color4: #242c38ff;
    --bg-color: #222433ff;
    --font-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}
.text{
    color: var(--font-color);
    
    
}
option {
    background-color: var(--bg-color);
    color: var(--font-color);
    outline-color: var(--bg-color);
}


select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: var(--font-color);
    background-color: var(--darkgray);
    
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 12em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;

  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: var(--color2);
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: var(--color4);
  }






.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 15px; /* Specified height */
    background: var(--color1); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 4px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--color4); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  

.column {
    float: left;
    width: 50%;
}

.widget {
    background: var(--color4);
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color4);
}